<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        <h4 class="card-title mt-3">
                         Recuperação de Senha</h4>
                        <p>Informe o seu email de usuário para receber 
                           uma mensagem de recuperação de senha.</p>
                    </div>
                    <hr />
                    <div class="text-center mb-2">
                        <h5 class="text-success">
                              {{mensagem_sucesso}}</h5>
                        <h5 class="text-danger">
                              {{mensagem_erro}}</h5>
                    </div>

                    <form [formGroup]="formRecuperarSenha" 
                           (ngSubmit)="onSubmit()">
                        <div class="mb-2">
                            <label>Email do Usuário:</label>
                            <input type="text" class="form-control" 
                                 formControlName="email" />
                            <div class="text-danger" 
                                       *ngIf="form.email.touched 
                                           && form.email.invalid">
                                <span *ngIf="form.email.errors.required">
                                    Por favor, informe o seu email 
                                    de acesso.
                                </span>
                                <span *ngIf="form.email.errors.email">
                                    Por favor, informe um endereço 
                                    de email válido.
                                </span>
                            </div>
                        </div>
                        <div class="mb-2 d-grid">
                            <input type="submit" class="btn btn-primary" 
                                   value="Recuperar Senha" 
                                   [disabled]="!formRecuperarSenha
                                                .valid"/>
                        </div>
                        <div class="mb-2 d-grid">
                            <a class="btn btn-light" 
                               [routerLink]="['/home/acessar-conta']">
                                Voltar
                            </a>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
